@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Noto Serif Display", latin;
  }
}

.responsive{
  @apply lg:px-[8vw] sm:px-[6vw] px-[4vw];
 }

body{
  @apply bg-white text-brown flex min-h-[100vh] scroll-smooth;
}

main{
  @apply rounded-sm
}

h1{
  @apply text-4xl font-playfair;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width:5px;
  height: 0px;
  border-radius: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FBF8F4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFB05C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF8400;
}